.img1 {
    @apply w-[72px] h-[16px] lg:w-[266px] lg:h-[66px] md:w-[148px] md:h-[34px];
 }
 .img2 {
    @apply w-[72px] h-[16px] lg:w-[266px] lg:h-[117px] md:w-[148px] md:h-[60px];
 }
 .img3 {
    @apply w-[72px] h-[29px] lg:w-[266px] lg:h-[66px] md:w-[148px] md:h-[34px];
 }
 .img4 {
    @apply w-[72px] h-[16px] lg:w-[266px] lg:h-[117px] md:w-[148px] md:h-[60px];
 }
 .brand_row {
    @apply flex gap-[12px] h-[39px] md:gap-[24px] lg:justify-between
    sm:gap-[90px] w-[305px] 
    md:w-[768px] md:h-[80px] 
    sm:w-[670px] sm:h-[80px] 
    lg:w-[1500px] lg:h-[150px] 
    lg:pl-[60px] md:pl-[38px] pl-[14px]
    mt-[41px];
 }
 .brand_row img{
    @apply grayscale-[60%] opacity-[70%]
 }